<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chui.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,215},{39,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{39,43}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>shen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,138},{73,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{73,66}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>shen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{75,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,66}}</string>
                <key>sourceSize</key>
                <string>{77,66}</string>
            </dict>
            <key>shen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{73,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,65}}</string>
                <key>sourceSize</key>
                <string>{75,67}</string>
            </dict>
            <key>texiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,134}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,134}}</string>
                <key>sourceSize</key>
                <string>{81,136}</string>
            </dict>
            <key>tou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,69},{41,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,29}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>tou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,205},{42,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,31}}</string>
                <key>sourceSize</key>
                <string>{42,33}</string>
            </dict>
            <key>tou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,213},{41,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{41,29}}</string>
                <key>sourceSize</key>
                <string>{45,29}</string>
            </dict>
            <key>tou4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,213},{41,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tui.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,100},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>yan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,100},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{33,34}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>yan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{23,21}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>yan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,131},{15,16}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>ying.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,25},{55,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{55,22}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>you1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,82},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
            <key>you2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{39,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,49}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>you3.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,82},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>zuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,65},{38,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,68}}</string>
                <key>sourceSize</key>
                <string>{40,68}</string>
            </dict>
            <key>zuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,131},{40,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,72}}</string>
                <key>sourceSize</key>
                <string>{40,72}</string>
            </dict>
            <key>zuo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{47,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{47,61}}</string>
                <key>sourceSize</key>
                <string>{49,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiejiang.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45a813f7677f7d7fad16c5eac4af91f9$</string>
            <key>textureFileName</key>
            <string>xiejiang.png</string>
        </dict>
    </dict>
</plist>
